.home-container {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: flex-start;
    border-width: 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.home-container1 {
    position: relative;
    border-radius: 16px;
    width: 100%;
    height: 60px;
    display: flex;
    align-self: center;
    align-items: center;
    border-style: hidden;
    border-width: 1px;
    justify-content: center;
    background-color: #eaeaea
}
#pointCircle{
    background-color:lime;
}
.pointcir {
    color: black;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-text {
    font-size: 26px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: "Arial";
    font-weight: 700;
    text-transform: uppercase;
}

.home-container2 {
    width: 100%;
    height: auto;
    display: flex;
    z-index: 100;
    position: relative;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-color: #0000ff;
    border-width: 2px;
    border-radius: 16px;
    /*  flex-direction: column;*/
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
}

.home-container3 {
    width: 100px;
    height: 75px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    border-style: hidden;
    border-width: 2px;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: black;
    margin: 5px 5px 5px 5px;
}

.home-text01 {
    font-size: 26px;
    align-self: center;
    font-style: normal;
    font-family: "Arial";
    font-weight: 700;
    color: white;
}

.home-button {
    padding:0;
    width: 100px;
    height: 75px;
    display: flex;
    z-index: 100;
    position: relative;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    text-align: center;
    border-width: 2px;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    border-color: black;
    border: 2px solid green;
    word-wrap: break-word;
    background: linear-gradient(145deg, #99fa9d, white);
}

/* Define the animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Initial state for the boxes (hidden) */
.box-hidden {
    opacity: 0;
}

/* Animation class */
.box-animated {
    animation: fadeInUp 0.5s ease-out forwards;
}

.home-text02 {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 600;
}

.home-text03 {
    font-size: 22px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 800;
}

.home-text031 {
    font-size: 15px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 500;
}

.home-container4 {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.TextName01 {
    height: 30px;
    width: auto;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    border: 1px solid #f3e7e7;
    border-radius: 12px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-weight: 700;
    font-size: 16px;
    align-self: center;
}

.home-container5 {
    height: 600px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-container6 {
    width: 32.5%;
    height: 100%;
    display: flex;
    align-self: center;
    align-content: flex-start;
    align-items: flex-start;
    border-style: solid;
    border-width: 1px;
    margin: 10px 3px 3px 3px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    overflow-y: auto;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
}

.selectFloor {
    width: auto;
    padding: 2px;
    border: 2px solid #007BFF;
    border-radius: 10px; /* Bo tròn góc */
    background-color: white;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

    .selectFloor:hover {
        border-color: #0056b3;
        background-color: #e9f5ff;
        transform: scale(1.05); /* Phóng to tại chỗ */
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    }

    .selectFloor:focus {
        outline: none;
        border-color: #0056b3;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        transform: scale(1.1); /* Phóng to tại chỗ khi focus */
    }

.BoxLine {
    width: 120px;
    height: 80px;
    display: flex;
    z-index: 100;
    position: relative;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    text-align: center;
    border-width: 2px;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    border-radius: 16px;
    border-color: black;
    border: 2px solid green;
    word-wrap: break-word;
    background: linear-gradient(145deg, #e0e0e0, #ffffff);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease, transform 0.2s ease-in-out;
}

    .BoxLine::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .BoxLine:hover::after {
        opacity: 1;
    }

    .BoxLine:hover {
        color: green;
        border-color: #0000b0;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1), -3px -3px 7px rgba(255, 255, 255, 0.7);
        transform: translateY(-5px);
    }

    .BoxLine:active {
        background: linear-gradient(145deg, #d0d0d0, #ffffff);
        color: #0000ff;
        box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.1), inset -3px -3px 7px rgba(255, 255, 255, 0.7);
        transform: translateY(1px);
    }

    .BoxLine div {
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }

    .BoxLine:hover div,
    .BoxLine:active div {
        color: #ff5722;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

.Boxline-head {
   
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 600;
}

.Boxline-mid {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 500;
}

/* Define the shake animation */
@keyframes shake {
    0% {
        transform: translateX(0);
        background: linear-gradient(145deg, #ff6d00, #ffcf8c);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-8px);
        background: linear-gradient(145deg, #ff0000, #b10101);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(8px);
        background: linear-gradient(145deg, #ff6d00, #ffcf8c);
    }

    100% {
        transform: translateX(0);
        background: linear-gradient(145deg, #ff0000, #b10101);
    }
}

/* Define the pulse animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
        background: linear-gradient(145deg, #ff0000, #ff7f7f);
    }

    50% {
        background: linear-gradient(145deg, #ff7f00, #ffff7f);
    }

    70% {
        box-shadow: 0 0 20px 20px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        background: linear-gradient(145deg, #ff0000, #ff7f7f);
    }
}
@keyframes pulse2 {
    0% {
       
        background: linear-gradient(145deg, #ff0000, #ff7f7f);
    }

    50% {
        background: linear-gradient(145deg, #ff7f00, #ffff7f);
    }

    70% {
        background: linear-gradient(145deg, #ff7f00, #ffff7f);
    }

    100% {
       
        background: linear-gradient(145deg, #ff0000, #ff7f7f);
    }
}
.hidden {
    display: none;
}

/* Animation class for alert effect */
.alert-box-line {
    animation: pulse 1.5s infinite;
}

.alert-box-point {
    animation: pulse2 1.5s infinite;
}
.ng-box-point {
    background: linear-gradient(145deg, #ed0a0a, white);
    
}
.displc-box-point {
    background: linear-gradient(145deg, #f3e308, white);
}
.alert-box-point-sts {
    text-decoration: line-through;
}

.off-box-point {
    background: linear-gradient(145deg, rgb(160, 160, 160, 0.70), rgb(250, 246, 246, 0.30));
}
.off-box-point1{
    background-color: gray;
}
.alert-box-point1{
    animation: pulse 1.5s infinite;
}
.ok-box-point {
    
    background-color: lime;
}
.ok-box-point1 {
    background: linear-gradient(145deg, #99fa9d, white);
   
}
.alert-head-line {
    animation: shake 3s ease-in-out infinite;
}

.home-container7 {
    width: 67.5%;
    height: 100%;
  
    align-self: center;
    align-content: flex-start;
    align-items: flex-start;
    border-style: solid;
    border-width: 1px;
    justify-content: flex-start;
    margin: 10px 3px 3px 3px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    padding: 5px 5px 5px 5px;
}

.home-text26-1 {
    width: 79px;
    height: 3px;
    top: 2px;
    left: 30px;
    position: absolute;
    background-color: white;
    z-index: 0;
}

.home-text26 {
    margin-top: 5px;
    padding-bottom: 5px;
    top: -17px;
    left: 32px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    z-index: 100;
}

.home-text27-1 {
    width: 110px;
    height: 3px;
    top: 2px;
    left: 34.3%;
    position: absolute;
    background-color: white;
    z-index: 0;
}

.home-text27 {
    margin-top: 5px;
    padding-bottom: 5px;
    top: -17px;
    left: 34.5%;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    z-index: 100;
}

.tooltipbox {
}

    .tooltipbox .tooltiptext {
        visibility: hidden;
        right: 0px;
        width: 100px;
        height: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
        opacity: 0;
        transition: opacity 0.5s;
    }

    .tooltipbox:hover .tooltiptext {
        transition-delay: 1.0s;
        visibility: visible;
        opacity: 0.8;
    }
    th,td{
        text-align:center;
    }

.divchart {
    width: 30%;
    height: 98%;
    margin: 7px 3px 20px 3px;
    padding: 5px 5px 5px 5px;
    border: solid 1px gray;
    border-radius: 10px;
    position: relative;
}

.ChartAlarm {
    background-color: white;
    width: 100%;
    height: 100%;
}

.divtbtopalarm {
    width: 70%;
    height: 100%;
    display: flex;
    align-self: center;
    align-content: flex-start;
    align-items: flex-start;
    margin: 10px 3px 3px 3px;
    overflow-y: auto;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
}

.titletable {
    font-weight: 700;
    color: darkblue;
    text-align: center;
}
.rotate-chart {
    transform: rotate(90deg);
    transform-origin: center;
}
.close-chart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    transform: rotate(90deg); /* Xoay nút để giống nút xoay ngang */
}
.two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị trong 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cho phép nội dung xuống dòng */
}
    .close-chart-button:hover {
        background-color: #0056b3;
    }
#newChartContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

    #newChartContainer canvas {
        flex: 1;
        width: 100% !important;
        height: 100% !important;
    }

