html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
}

.btn-space {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;

    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

    .btn-space:hover {
        transform: scale(1.1);
    }

.header {
   
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.animation {
    padding: 10px 10px;
    border: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    transform: scale(1);
}

    .animation:hover {
        transform: scale(1.1);
        /*background: linear-gradient(to top right, #f2994a, #f2c94c);*/
    }

.animationbase {
    cursor: pointer;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    transform: scale(1);
}

    .animationbase:hover {
        transform: scale(1.1);
    }

.btn-create {
    margin-top: 10px;
}

.btn-back {
    margin-top: 10px;
    color: black;
    background: linear-gradient(to top right, #fcf4b5, #ecff45);
}

    .btn-back:hover {
        background: linear-gradient(to top right, #fad2af, #fbdd83);
    }

.prominent-question {
    color: rgb(255, 0, 0);
    background: yellow;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin: 20px 0;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 3px #ffffff;
    box-sizing: border-box;
}

    .prominent-question:before,
    .prominent-question:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 15px;
        background: #ffffff;
        z-index: -1;
        left: 0;
    }

    .prominent-question:before {
        bottom: 0;
    }

    .prominent-question:after {
        top: 0;
    }

.Login-me {
    position: relative;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    /*margin: -50px 0 0 -100px;*/
}
.total-ok{
  
    font-weight: 700;
}
.backgroundKf {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    position: absolute;
    width: 95%;
    height: 90%;
    background-image: url("../image/back_login.png");
}

.combo-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #fff;
    transition: border-color 0.3s;
}

    .combo-box select:focus {
        border-color: #007bff;
        outline: none;
    }

.combo-box::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.3s;
}

.combo-box select:focus + .combo-box::after {
    transform: translateY(-50%) rotate(180deg);
}

.item-nav {
    font-weight: 700;
    text-align: center;
    width: 99px;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    z-index: 3;
   
}

    .item-nav:hover {
        transform: scale(1.1);
        background: linear-gradient(to top right, #fad2af, #fbdd83);
    }

.icon-notifi {
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    border-radius: 18px;
}

    .icon-notifi:hover {
        transform: scale(1.1);
        background-color: lightgray;
        cursor: pointer;
    }

.buttonroom {
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 16px;
    font-style: revert-layer;
    border-radius: 12px
}

    .buttonroom:hover {
        background: #1c4a94;
    }

    .buttonroom:active {
        background: green;
    }

.rowstsalarm {
    color: red;
    font-weight: 700;
}

@-webkit-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-moz-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-o-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

.buttonalert {
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}


.tablealarmall {
    position: relative;
    left: 0px;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 10px;
    width: 100%;
}

.modal-body-custom {
    width: 100%;
    height: 750px;
}

[data-icon-label] {
    position: relative;
    display: inline-block;
}

    [data-icon-label]:after {
        content: attr(data-icon-label);
        position: absolute;
        font-style: normal;
        font-family: Arial, Sans-serif !important;
        top: -5px;
        right: -5px;
        font-weight: bolder;
        background-color: rgb(255, 0, 0);
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
        font-size: 9px;
        padding: 2px;
        opacity: .9;
        line-height: 15px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        z-index: 1;
        transition: transform .2s;
    }

[data-icon-label="0"]:after {
    display: none;
}

.btnnotifi {
    position: relative;
    top: 7px;
    left: -10px;
    height: 30px;
    display: block;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    border-radius: 18px;
}

.IfmRoom {
    max-width: 100%;
    word-wrap: break-word;
   
    padding: 5px;
}

.Statusled {
    font-size: 16px;
    
}

.colornormal {
    color: green;
}

.coloralarm {
    color: red;
}

.left-ckhistory {
    position: relative;
    left: -12px;
    border: 2px solid #888;
    height: 34%;
    padding: 10px;
    gap: 20px;
    margin-right: -7px;
}

.left-his-infor {
    height: 60%;
    border: 2px solid #888;
    margin-top: 17px;
    padding: 10px 20px;
    margin-right: 5px;
    margin-left: -12px;
}

.left-his-infor-title {
    position: relative;
    font-weight: bold;
    left: 10px;
    height: 20px;
    padding: 0 8px;
    
    font-size: 16px;
}

/*.left-his-status-title {
    padding-bottom: 30px;
}*/

.left-his-infor p {
    line-height: 28px;
}

.savedalarm {
    border: 3px solid #0026ff;
}

.btnExport {
    position: relative;
    top: 6px;
    left: 0px;
    width: 49px;
    height: 49px;
    background-image: url(../image/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btnExporttable {
    position: relative;
    /*top: -80px;
    left: 120px;*/
    width: 23px;
    height: 24px;
    background-image: url(../image/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


@keyframes multiBlink1 {
    0%,100% {
        background-color: rgb(237, 0, 0);
    }

    25% {
        background-color: #eb951d
    }

    50% {
        background-color: #ffea00
    }

    75% {
        background-color: #eb951d
    }
}

.btnplcalarm {
    animation: multiBlink1 1s infinite;
}

.tablerowalarm {
    font-weight: 500;
    color: red;
}

.tablerowok {
    font-weight: 500;
    color: green;
}

.cboxFloor {
    border: 1px solid gray;
    position: relative;
   height: 35px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0px;
}

.ItemCbox {
    border-radius: 10px;
}

.Blockborder {
    border-radius: 20px;
}

@keyframes multiBlink2 {

    0% {
        background-color: rgb(217, 0, 0);
    }

    50% {
        background-color: #ad4f00;
    }

    70% {
        background-color: #9a9200;
    }

    100% {
        background-color: #ad4f00;
    }
}

.boxlineheadalarm {
    animation: multiBlink2 2s infinite;
}

@keyframes multiBlink3 {

    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
        border-color: rgb(217, 0, 0);
    }

    50% {
        border-color: #ad4f00;
    }

    70% {
        box-shadow: 0 0 20px 20px rgba(255, 0, 0, 0);
        border-color: #9a9200;
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        border-color: #ad4f00;
    }
}

.boxlineboderalarm {
    animation: multiBlink3 2s infinite;
}

@keyframes multiBlink4 {

    0%,100% {
        background-color: #ff4949;
        
    }

    25% {
        background-color: #ff6500;
    }

    50% {
        background-color: yellow;
       
    }

    75% {
        background-color: #ff6500;
    }
}

.pointalarm {
    animation: multiBlink4 2s infinite;
}

@keyframes multiBlink5 {

    0%,100% {
        background-color: lightgray;
    }
}


.pointoff {
    animation: multiBlink5 2s infinite;
}

.boxline {
    display: flex;
    opacity: 1;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 8px;
    width: 95px;
    height: 70px;
    position: absolute;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

    .boxline:hover {
        transform: scale(1.05);
        z-index: 100;
    }

    .boxline:active {
        border-color: rgba(122, 202, 255, 0.8);
    }

.boxlineedit {
    display: flex;
    opacity: 1;
    background-color: transparent;
    border: solid 3px black;
    border-radius: 8px;
    width: 95px;
    height: 70px;
    position: absolute;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    resize: both;
    overflow: auto;
}

    .boxlineedit:active {
        border-color: rgba(122, 202, 255, 0.8);
    }

/*.boxline {
    margin-top: 2px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: black;
}*/

.boxlinehead {
    position: relative;
    width: 30px;
    height: 100%;
    background-color: black;
}

    .boxlinehead:hover {
        cursor: pointer;
    }

.boxlinehead-edit {
    position: relative;
    width: 30px;
    height: 100%;
    background-color: black;
}

    .boxlinehead-edit:hover {
        cursor: move;
    }

.boxlinehead-a {
    color: white;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.pointinline-di {
    border: solid 1px gray;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 40px;
    background-color: lime;
    color: black;
    transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

    .pointinline-di:hover {
        transform: scale(1.5);
        cursor: pointer;
    }

.pointinline-di-edit {
    border: solid 1px gray;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 40px;
    background-color: lime;
    color: black;
}

    .pointinline-di-edit:hover {
        cursor: move;
    }

.pointinline-di-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
}

.boxlayout-temp {
    margin: -3px 0px -3px 0px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
}

.boxlayout-humi {
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: blue;
}
.custom-save-btn {
    background-color: #007bff; /* Màu xanh dương đậm */
    color: white; /* Màu chữ trắng */
    border: none; /* Bỏ đường viền */
    padding: 5px 10px; /* Khoảng cách bên trong nút */
    font-size: 14px; /* Kích thước chữ */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền khi hover */
}

    .custom-save-btn:hover {
        background-color: #0056b3; /* Màu xanh dương nhạt hơn khi hover */
    }

.colortemp {
    color: darkorange;
}

.colorgreen {
    color: green;
}

.colorred {
    color: red;
}

.colorgray {
    color: lightgray;
}

.coloryellow {
    color: yellow;
}

.colorblue {
    color: blue;
}

.colororange {
    color: orange;
}

.colorpe {
    color: olive;
}

.pointbox {
    left: 1250px;
    top: 880px;
}
.log-box {
    border: solid 2px green;
    position: absolute;
    top: 0; /* Điều chỉnh để đặt log vào góc bạn muốn */
    right: 10%; /* Đặt ở góc phải của ảnh */
    width: 200px; /* Kích thước bảng log */
    height: 150px; /* Chiều cao bảng log */
    background-color: #393b47; /* Làm nền tối với độ mờ */
    color: white;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Cho phép cuộn nếu log dài */
    border-radius: 8px; /* Làm tròn góc cho đẹp hơn */
}
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0.5; /* Độ mờ của overlay */
    transition: opacity 0.3s; /* Hiệu ứng khi di chuột vào */
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 347px;
    width: 72%;
    height: 100%;
    background-color: rgba(181, 175, 54, 0.5);
    opacity: 0.5;
    transition: opacity 0.3s;
    z-index: 1;
}

.fixed-button1 {
    background-color: Lime;
    width: 50px; /* Kích thước cố định */
    height: 30px;
    cursor: default;
    position: absolute;
    top: 14px;
    right: 74px
}

.fixed-button2 {
    background-color: Lime;
    width: 50px; /* Kích thước cố định */
    height: 30px;
    cursor: default;
    position: absolute;
    top: 14px;
    right: 19px;
}

select {
    color: white;
    background-color: #41464b;
}

.modal-content {
    background-color: #2a4451 !important;
}

.form-control {
    background-color: transparent;
    color: white;
}

option {
    background-color: #41464b;
    color: white;
}

.scrollable-tbody td, .scrollable-tbody th {
    background-color: #393e41;
}

input {
    background-color: #41464b !important;
    color: white !important;
}

th, td {
    text-align: center;
    color: white;
}

.digital-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    background-color: #000; /* Màu nền đồng hồ */
    border: 1px solid #1c234e; /* Viền đồng hồ */
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    font-family: 'Courier New', Courier, monospace; /* Font chữ */
    display: flex; /* Sử dụng flexbox để dàn hàng ngang */
    justify-content: center; /* Căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.date {
    font-size: 14px; /* Kích thước chữ ngày */
    color: #00FF00; /* Màu chữ */
    margin-right: 15px; /* Khoảng cách giữa ngày và giờ */
}

.time {
    font-size: 16px; /* Kích thước chữ giờ */
    color: #00FF00; /* Màu chữ */
}
.bg-white {
    --bs-bg-opacity: 0;
    background-color: transparent !important;
    background-image: url('../image/back_nav.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   
.text-dark {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, var(--bs-text-opacity)) !important;
}
.box-shadow[b-k4ee9bwdnk] {
    box-shadow: 0px 4px 6px #05c8efd9 !important;
}

.border-bottom[b-k4ee9bwdnk] {
    border-bottom: none !important;
}
.point-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point-id {
    font-size: 11px;
    line-height: 1;
}

.tooltippp {
    position: absolute;
    background-color: #00FFFF;
    color: black;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000; /* Đảm bảo tooltip nằm trên các thành phần khác */
    /*  display: none;*/ /* Ẩn tooltip ban đầu */
}
@keyframes blink {
    0%, 100% { color: #ff007f; } /* Hồng đậm thay đỏ */
    50% { color: white; }
}
@keyframes flashWarning {
    0% {
        color: #ff5722; /* Cam */
        box-shadow: 0 0 15px 7px rgba(255, 0, 0, 0.8); /* Đỏ */
    }

    50% {
        color: red; /* Đỏ */
        box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.2); /* Nhẹ hơn */
    }

    100% {
        color: #ff5722; /* Cam */
        box-shadow: 0 0 14px 7px rgba(255, 0, 0, 0.8); /* Đỏ */
    }
}

.alarm-blink {
    animation: flashWarning 1s infinite;
    border-radius: 8px;
    color: #fff; /* Đảm bảo chữ nổi bật */
    padding: 4px 8px;
    font-weight: bold;
    text-align: center;
}



.scrollable-tbody::-webkit-scrollbar {
    display: none;
}

.scroll-pagelist::-webkit-scrollbar {
    display: none;
}